<configuration>

    <logger name="org.example" level="trace"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{reqId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 5MB, keep 10 days worth of history, but at most 20MB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{reqId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">TimeBasedRollingPolicy
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>